@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin-top: 0px;
    background-image: url('https://wallpaperaccess.com/full/2825787.gif')
}

header {
    margin-top: 0px;
    background-color: #ebfcff;
    height: 40px;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: saturate(180%) blur(2px);
}

#central {
    height: 1000px;
    width: 1350px;
    margin: 0 auto;
    background-color: #ebfcff;
    background: rgba(27, 27, 27, 0.8);
    backdrop-filter: saturate(180%) blur(2px);
}

#card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card{
    width: 500px;
    height: 650px;
    background-color: white;
    margin: 10px auto 10px auto; 
    min-width: 320px;
    border-radius: 5px;
    padding: 50px;
    overflow: scroll;
}

#card1 {
    border: 5px inset #0004ff; 
    box-shadow: 20px 15px 20px 0px #4043ff;
}

#card2 {
    margin-left: 2px;
    border: 5px inset #8e04ff;
    box-shadow: 20px 15px 18px 0px rgb(205, 119, 255);
}

h1 {
    margin: 0 auto;
    font-family: "Share Tech Mono";
    text-align: center;
    border: solid 5px ;
    width: 350px;
    color:white;
}

h4 {
    margin: 0 auto;
    font-family: Share Tech Mono;
    text-align: center;
    width: 350px;
    color:white;
}

h2, h3 {
    margin: 0 auto;
    font-family: "Share Tech Mono";
    text-align: center;
    width: 350px;
    text-decoration: underline;
}

ul, li {
    font-family: Montserrat; 
    font-size: 14px; 
    text-align: center;
}

#leiamais {
    font-size: 1rem;
    line-height: 1.5rem;
    color: blue;
}